@import '../shared.scss';

.movie {
    width: $poster-width;
    margin: 0 25px;

    img {
        width: $poster-width;
        height: $poster-height;
        object-fit: cover;
        border: 1px #333 solid;
        box-sizing: border-box;
    }

    h3 {
        color: #fff;
        text-align: center;
    }
}

.movie:first-of-type {
    margin-left: 0;
}

.movie:last-of-type {
    margin-right: 0;
}